.App {
  text-align: center;
}

.App-logo {
  height: 17vmin;
  pointer-events: none;
  
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

output{
  display: flex;
  color: black;
  margin-top: 5px;
}